<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />


    <link rel="stylesheet" href="{{ base_url() }}/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css">

</head>
<body>
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
{% include "templates/partials/navigation.twig" %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-md-6 offset-3">
                                {% include "templates/partials/flash.twig" %}
                            </div>

                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ base_url() }}/assets/js/vendor-all.min.js"></script>
<script src="{{ base_url() }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ base_url() }}/assets/js/pcoded.min.js"></script>
</body>
</html>